h1{
 color: blue;
 text-decoration-style: dotted;
 text-align: center;
 text-decoration: underline;
 text-decoration-style: dotted;
}
 color: green;
 text-decoration: underline;
 text-decoration-style: double;
 text-decoration-color: green
}
h3{
 color: green;
 text-decoration: underline;
 text-decoration-style: double;
 text-decoration-color: green
}
h4{
 color: green;
 text-decoration: underline;
 text-decoration-style: double;
 text-decoration-color: green
}
div.body{
  background-color: #e6e6ff;
  height: auto;
  width: 100%;
}
div.footer{
  height: auto;
  width 100%;
  background-color: lightblue;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
}
